<strong>Olá, {{ deliveryman }} </strong>
<p>A entrega de ID {{ deliveryId }} foi cancelada. Verifique os dados abaixo:</p>
<p>
  <strong>DADOS DA ENTREGA</strong>
  <br />
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Data da retirada:</strong> {{ startDate }} <br />
  <strong>Motivo do cancelamento:</strong> {{ description }} <br />
  <br />
  <strong>Cliente:</strong> {{ name }} <br />
  <strong>Endereço:</strong> {{ street }}, {{ number }} <br />
  <strong>Cidade/Estado:</strong> {{ city }}/{{ state }} <br />
  <strong>CEP:</strong> {{ cep }}
  <br /><br />
  Equipe FastFeet
</p>
