<strong>Olá, {{ deliveryman }} </strong>
<p>Você tem uma nova entrega. Verifique os dados abaixo:</p>
<p>
  <strong>DADOS DA ENTREGA</strong>
  <br />
  <strong>Produto:</strong> {{ product }} <br />
  <br />
  <strong>DADOS DO DESTINATÁRIO</strong> <br />
  <strong>Cliente:</strong> {{ name }} <br />
  <strong>Endereço:</strong> {{ street }}, {{ number }} <br />
  <strong>Cidade/Estado:</strong> {{ city }}/{{ state }} <br />
  <strong>CEP:</strong> {{ cep }}
  <br /><br />
  Equipe FastFeet
</p>
